* {
  box-sizing: border-box;
  margin: 0;
}

.mainInitScreen{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 12px;
  background-color: hsl(0, 2%, 52%);
  color: rgb(183, 207, 228);
  font-size: 25px;
  font-weight: 700;
}

header button{
  border: 1px solid rgb(175, 174, 174);
  background-color: transparent;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s ease, color 0.3s ease;
}
header button:hover{
  background-color: rgb(190, 190, 183);
  color: rgb(52, 52, 53);
}


main {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: hsl(30, 1%, 26%);
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

