
.homePage {
  display: flex;
  flex-direction: column;
  /* height: fit-content; */
  background-color: hsl(38, 39%, 79%);
}

.homePageHeader {
  /* border: 1px solid red; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: fit-content;
  /* font-size: 1.2rem; */
  color: rgb(0, 255, 149);
  font-weight: 700;
  font-size: large;
  padding: 12px;
  background-color: hsl(30, 29%, 70%);
  & button {
    font-weight: 500;
    height: 1.9rem;
    border: 1px solid rgb(5, 211, 177);
    background-color: transparent;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0px 12px;
    padding: 5px 10px;
  }
  & button:hover {
    background-color: rgb(245, 227, 194);
    color: rgb(3, 186, 192);
    cursor: pointer;
  }
  & h1 {
    margin-right: auto;
  }
}

.homePageMain {
  flex-grow: 1;
  height: inherit;
  /* background-color: hsl(38, 69%, 90%); */
}
